POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=app

DATABASE_URL="postgresql://app:app@localhost:5432/app"
JWT_SECRET="change_me"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="change_me"
MQTT_HOST="mosquitto"
MQTT_PORT="1883"
MQTT_USER="your_mqtt_user"
MQTT_PASS="your_mqtt_password"
CAMERA_IP="your_camera_ip"
CAMERA_USER="your_camera_user"
CAMERA_PASSWORD="your_camera_password"
PLATERECOGNIZER_URL="https://api.platerecognizer.com/v1/plate-reader/"
PLATERECOGNIZER_API_KEY="your_platerecognizer_api_key"

MTX_WEBRTCADDITIONALHOSTS=auto
MTX_PATHS_CAMERA_SOURCE=rtsp://your_camera_ip:8554/live
