@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-orbitron: "Orbitron", sans-serif;
  --font-rubik: "Rubik", sans-serif;
}

body {
  @apply bg-background text-foreground;
  font-family: var(--font-rubik);
}

@layer components {
  .surface {
    @apply rounded-3xl shadow-surface;
  }

  .table__row,
  .table__cell {
    @apply border-b-0;
  }

  .table-root {
    @apply border border-separator/50 shadow-surface;
  }

  .pagination__link[data-active="true"] {
    @apply bg-accent text-accent-foreground hover:bg-accent-hover;
  }
}
